.userInfo {
  font-family: Microsoft YaHei, PingFang SC, Helvetica Neue, Helvetica,
    WenQuanYi Micro Hei, Arial, sans-serif !important;
  padding-left: 15%;
  .avatar {
    margin-left: -8%;
    .userName {
      font-size: 26px;
      color: #333;
      display: inline-block;
      left: 20px;
      top: 20px;
      position: relative;
      .phone {
        font-size: 24px;
        font-weight: 300;
        color: gray;
      }
      // float: left;
    }
  }
  .info {
    display: flex;
    justify-content: flex-start;
    font-size: 15px;
    margin-top: 20px;
    & > :nth-child(1) {
      text-align: right;
    }
    & > :nth-child(2) {
      padding-left: 10px;
      font-weight: 300;
      text-align: left;
      color: gray;
    }
  }
}
