.hostList {
  .batchButton {
    margin-right: 10px;
    border-radius: 5px;
  }
  .table {
    // box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    .ok::before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
      background: #20a53a;
    }
    .close::before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
      background: rgb(100, 118, 151);
    }
    .warn::before {
      content: '';
      width: 10px;
      height: 10px;
      display: inline-block;
      border-radius: 50%;
      margin-right: 5px;
      background: #ff4d4f;
    }
  }
  .hostPie {
    overflow: hidden;
    margin-right: 10px;
    float: left;
    width: 36%;
    height: 380px;
    margin-top: 10px;
    background: white;
    padding-right: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  }
}
