.poltList {
}
.row {
  // padding: 12px 0px;
  // border: red solid 1px;
  margin-bottom: 12px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.col {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  background: white;
  height: 400px;
  padding: 10px;
}
